{% extends 'base.html' %}
{% block HomeActive %}active{% endblock HomeActive %}
{% block title %}home{% endblock title %}
{% block body %}





      
 </div>
<div class="container py-5 mt-5 ">
<div class="row flex-lg-row-reverse align-items-center g-3">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="/static/img/sharelink.svg" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="600" height="500" loading="lazy">
        {% comment %} <img src="/static/img/hero.png" class="d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy"> {% endcomment %}
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">Confused about what to watch on Youtube?</h1>
        <p class="lead"> Never get bored again, as you can watch any one from top videos recomended by others or share your favourite YouTube videos.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          {% comment %} <button type="button" class="btn  btn-primary btn-lg px-4 me-md-2">Primary</button> {% endcomment %}
          <a href="/blog"  class="btn btn-lg btn-outline-primary">Get Started</a>
          {% comment %} <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> {% endcomment %}
        </div>
      </div>
    </div>

    </div>

    <div class="container my-5">
    <div class="row p-0 pb-0 pe-lg-0 pt-lg-5 align-items-center ">
      <div class="col-lg-5 offset-lg-1 p-4 overflow-hidden shadow-lg rounded-3">
          <img class="rounded-lg-3" src="/static/img/signup.svg" alt="" width=100%>
      </div>
      <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Create a new account or login</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          {% comment %} <a href="/blog"  class="btn btn-outline-primary">Sign Up</a> {% endcomment %}
          {% comment %} <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"> Post a Link</button> {% endcomment %}
          {% comment %} <button type="button" class="btn btn-outline-secondary px-4">Login</button> {% endcomment %}
           {% if user.is_authenticated %}
        <ul class="navbar-nav me-4">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" class="bi bi-check bg-primary rounded-2" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"></path>
            </svg>    Hello {{request.user}}, Step 1 is completed 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/logout">Logout</a></li>
            
          </ul>
        </li>
        </ul>
        {% else %}
        <!-- Button to trigger Login modal -->
        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#loginModal">
          Login
        </button>
        <!-- Button to trigger SignUp modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#signupModal">
          SignUp
        </button>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  
    
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-lg-5 py-5">
      <div class="col-lg-7 text-center text-lg-start">
        <h1 class="display-4 fw-bold lh-1 mb-3">Share your favourite videos to others</h1>
        <p class="col-lg-10 lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </div>
      <div class="col-md-10 mx-auto col-lg-5 rounded-3 bg-primary bg-opacity-10 shadow-lg py-4">
       
              {% if user.is_authenticated %}
              <form method="Post" action="/blog/userPost">
                {% csrf_token %}
               <div class="mb-3">
                 <label for="title" class="form-label">Title:</label>
                 <input type="text" class="form-control" id="title1" name="title" aria-describedby="title" required>
               </div>
               
               <div class="mb-3">
                 <label for="video" class="form-label">YouTube video link:</label>
                 <input type="url" class="form-control" id="video1" name="video" placeholder="example- https://youtu.be/WO2b03Zdu4Q" aria-describedby="video" required>
               </div>
    
              <p>Category of video:</p>
               <div class="row row-cols-3 px-3">
               <div class="form-check">
                <input class="form-check-input" value="music" type="radio" name="category" id="category7">
                <label class="form-check-label" for="category7">
                  Music
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="gaming" type="radio" name="category" id="category8">
                <label class="form-check-label" for="category8">
                  Gaming
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="live" type="radio" name="category" id="category9">
                <label class="form-check-label" for="category9">
                  Live
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="sport" type="radio" name="category" id="category10">
                <label class="form-check-label" for="category10">
                  Sports
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" value="learning" type="radio" name="category" id="category11">
                <label class="form-check-label" for="category11">
                  Learning
                </label>
              </div>
              <div class="form-check ">
                <input class="form-check-input" value="uncategorized" type="radio" name="category" id="category12" checked>
                <label class="form-check-label" for="category12">
                  Uncategorized
                </label>
              </div>
             
              </div>
    
               <div class="my-3">
                 <label for="content" class="form-label">Description:</label>
                  <textarea class="form-control" name="content" id="content1" cols="30" rows="5" required></textarea>
               </div>
              
               <button type="submit" class="btn btn-primary">Submit</button>
             </form>
               {% else %}

               <img src="/static/img/blur.jpg" width="400" alt="">

               {% endif %}
      </div>
    </div>
  </div>

    <div class="container my-5">
    <div class="row p-0 pb-0 pe-lg-0 pt-lg-5 align-items-center ">
      <div class="col-lg-5 offset-lg-1 p-5 overflow-hidden shadow-lg rounded-3">
          <img class="rounded-lg-3" src="/static/img/playvideo.svg" alt="" width=100%>
      </div>
      <div class="col-lg-6 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">Watch and comment on trending videos shared by others</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="/blog"  class="btn btn-outline-primary">See recomended videos</a>
          
        </div>
      </div>
    </div>
  </div>

    <div class="container my-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 bg-primary bg-opacity-25 shadow-lg">
      <div class="col-lg-7 p-3 p-lg-5 pt-lg-3">
        <h1 class="display-4 fw-bold lh-1">UpVote/DownVote videos shared by others </h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start mb-4 mb-lg-3">
          <a href="/blog"  class="btn btn-outline-primary">Trending Videos</a>
          {% comment %} <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold"> Post a Link</button> {% endcomment %}
      
        </div>
      </div>
      <div class="col-lg-4 offset-lg-1 p-0 rounded-4 overflow-hidden ">
      {% comment %} <div class="col-lg-4 offset-lg-1 pt-2 bg-white rounded-4 overflow-hidden shadow-lg"> {% endcomment %}
          <img class="rounded-lg-4" src="/static/img/vote.svg" alt="" width="670">
      </div>
    </div>
  </div>
    


  
 
{% endblock body %}