{% extends 'base.html' %}

{% block title %}Search results{% endblock title %}
{% block BlogActive %}active{% endblock BlogActive %}
{% block body %}
{% load humanize %}
{% load embed_video_tags %}
     

<div class="container">
 <h3>Search results:</h3>
     {% if allposts|length < 1 %}
      <p>no search result</p>
       your search - <b>{{query}}</b> did not match any videos
     {% endif %}
 {% for post in allposts %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
 
   <div class="col-auto d-none align-self-center px-3  d-lg-block"> 
  
        <form method="POST" action="/blog/{{post.slug}}/like">
          {% csrf_token %}
          <input type="hidden" name="slug" value="{{post.slug}}">

          {% if user.is_authenticated %}
          <button type="submit"
            class="btn btn-outline-light rounded-circle {% if request.user in post.likes.all %} bg-success {% endif %}  btn-sm  p-0">
            <img src="/static/img/arrowup.svg" width="25" alt=""> </button>
            {% comment %} <img src="/static/img/arrowup.svg" width="25" alt=""> </button> like: {{ post.likes.all.count }} {% endcomment %}
              {% else %} 
           <button type="button"
            class="btn btn-outline-light rounded-circle  btn-sm  p-0" data-bs-toggle="modal" data-bs-target="#loginModal"><img
              src="/static/img/arrowup.svg" width="25" alt=""></button>
              
            {% endif %}  
          
        
        </form>
         <p class="text-center m-0">  <b>  {{post.votes}} </b> </p>
        <form method="POST" action="/blog/{{post.slug}}/Dislike">
          {% csrf_token %}
          <input type="hidden" name="slug" value="{{post.slug}}">
         
          {% if user.is_authenticated %}
          <button type="submit"
            class="btn btn-outline-light rounded-circle {% if request.user in post.dislikes.all %} bg-success {% endif %} btn-sm  p-0"><img
              src="/static/img/arrowdown.svg" width="25" alt=""></button>
             {% else %} 
          <button type="button"
            class="btn btn-outline-light rounded-circle  btn-sm  p-0" data-bs-toggle="modal" data-bs-target="#loginModal"><img
              src="/static/img/arrowdown.svg" width="25" alt=""></button>
              
            {% endif %}  
        </form>
       
      </div>

    <div class="col p-4 ps-0 pb-1 d-flex flex-column position-static">
       {% comment %} <strong class="d-inline-block mb-2 text-primary">{{post.author}}, {{post.slug}}</strong> {% endcomment %}
       <p class="text-primary ">Posted by<b> {{post.author}}, {{post.slug}}</b></p>
       
      <a href="/blog/{{post.slug}}"><h3 class="mb-0">{{post.title}}</h3></a>
      <div class="mb-1 text-muted">{{post.timeStamp | naturaltime}}</div>
      <p class="card-text mb-auto">{{post.content| truncatechars:400}}</p>
      <div class="d-flex">

        
       
        {% comment %} <a href="/blog/category/{{post.category}}" role="button" class="btn btn-primary btn-sm rounded-pill">{{post.category}}</a> {% endcomment %}
        
        <a href="/blog/category/{{post.category}}"> <span class="badge rounded-pill bg-secondary">{{post.category}}</span> </a>
         

          
       <form method="POST" class="ms-auto" action="/blog/{{post.slug}}/wishlist">
          {% csrf_token %}
          <input type="hidden" name="slug" value="{{post.slug}}">
         
          {% if user.is_authenticated %}
          <button type="submit"
            class="btn btn-outline-light rounded-circle btn-sm  p-0">
            {% if request.user in post.wishlist.all %} 
             <img src="/static/img/redheart.png" width="25" alt=""></button>
             {% else %}
             <img src="/static/img/whiteheart.png" width="25" alt=""></button>
              {% endif %}
             {% else %} 
          <button type="button"
            class="btn btn-outline-light rounded-circle  btn-sm  p-0" data-bs-toggle="modal" data-bs-target="#loginModal"><img
              src="/static/img/arrowdown.svg" width="25" alt=""></button>
              
            {% endif %}  
        </form>
        
       
        </div>
      {% comment %} <div>
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Know more</a>
      </div>  {% endcomment %}

      
      
    </div>
    
    <div class="col-auto d-none d-lg-block">
    
      {% video post.video 'tiny' %}
    </div>
    
  </div>
  {% endfor %}
</div>
{% endblock body %}