{% extends 'base.html' %}

{% block title %}Sort{% endblock title %}
{% block BlogActive %}active{% endblock BlogActive %}
{% block body %}
{% load humanize %}
{% load embed_video_tags %}



<!-- <div class="container my-4">

  <form method="Post" action="/blog/userPost">
    {% csrf_token %}
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" aria-describedby="title" required>
    </div>

    <div class="mb-3">
      <label for="video" class="form-label">video</label>
      <input type="url" class="form-control" id="video" name="video" aria-describedby="video" required>
    </div>
    <div class="mb-3">
      <label for="content" class="form-label">Content</label>
      <textarea class="form-control" name="content" id="content" cols="30" rows="5" required></textarea>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</div> -->

<div class="container">

  <h3 class="mt-5 mb-4">Shared YouTube videos</h3>

  <ul class="nav nav-pills nav-fill mb-4">
    {% comment %} <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/category/">Active</a>
    </li> {% endcomment %}
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/" %}active{% endif %}" href="/blog/">All videos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/category/gaming" %}active{% endif %}" href="/blog/category/gaming">Gaming</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/category/music" %}active{% endif %}" href="/blog/category/music">Music</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/category/sport" %}active{% endif %}" href="/blog/category/sport">Sports</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/category/learning" %}active{% endif %}" href="/blog/category/learning">Learning</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/category/live" %}active{% endif %}" href="/blog/category/live">Live</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/category/uncategorized" %}active{% endif %}" href="/blog/category/uncategorized">Uncategorized</a>
    </li>
    <li class="nav-item">
      <a class="nav-link rounded-pill {% if request.get_full_path == "/blog/wishlistview/" %}active{% endif %}" href="/blog/wishlistview"><img src="/static/img/redheart.png" width="14" alt=""> Wishlist</a>
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Sort by
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" href="/blog/sort/hightolow">hightolow </a></li>
          <li><a class="dropdown-item" href="/blog/sort/lowtohigh">lowtohigh </a></li>
          <li><a class="dropdown-item" href="/blog/sort/newfirst">newfirst </a></li>
          <li><a class="dropdown-item" href="/blog/sort/oldfirst">oldfirst </a></li>
        </ul>
      </div>
    </li>
   </ul>

  {% for post in allposts %}
  <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow h-md-250 position-relative">
 
   <div class="col-auto d-none align-self-center px-3  d-lg-block"> 
  
        <form method="POST" action="/blog/{{post.slug}}/like">
          {% csrf_token %}
          <input type="hidden" name="slug" value="{{post.slug}}">

          {% if user.is_authenticated %}
          <button type="submit"
            class="btn btn-outline-light rounded-circle {% if request.user in post.likes.all %} bg-success {% endif %}  btn-sm  p-0">
            <img src="/static/img/arrowup.svg" width="25" alt=""> </button>
            {% comment %} <img src="/static/img/arrowup.svg" width="25" alt=""> </button> like: {{ post.likes.all.count }} {% endcomment %}
              {% else %} 
           <button type="button"
            class="btn btn-outline-light rounded-circle  btn-sm  p-0" data-bs-toggle="modal" data-bs-target="#loginModal"><img
              src="/static/img/arrowup.svg" width="25" alt=""></button>
              
            {% endif %}  
          
        
        </form>
         <p class="text-center m-0">  <b>  {{post.votes}} </b> </p>
        <form method="POST" action="/blog/{{post.slug}}/Dislike">
          {% csrf_token %}
          <input type="hidden" name="slug" value="{{post.slug}}">
         
          {% if user.is_authenticated %}
          <button type="submit"
            class="btn btn-outline-light rounded-circle {% if request.user in post.dislikes.all %} bg-success {% endif %} btn-sm  p-0"><img
              src="/static/img/arrowdown.svg" width="25" alt=""></button>
             {% else %} 
          <button type="button"
            class="btn btn-outline-light rounded-circle  btn-sm  p-0" data-bs-toggle="modal" data-bs-target="#loginModal"><img
              src="/static/img/arrowdown.svg" width="25" alt=""></button>
              
            {% endif %}  
        </form>
       
      </div>

    <div class="col p-4 ps-0 pb-1 d-flex flex-column position-static">
       {% comment %} <strong class="d-inline-block mb-2 text-primary">{{post.author}}, {{post.slug}}</strong> {% endcomment %}
       <p class="text-primary ">Posted by<b> {{post.author}}, {{post.slug}}</b></p>
       
      <a href="/blog/{{post.slug}}"><h3 class="mb-0">{{post.title}}</h3></a>
      <div class="mb-1 text-muted">{{post.timeStamp | naturaltime}}</div>
      <p class="card-text mb-auto">{{post.content| truncatechars:400}}</p>
      <div class="d-flex">

        
       
        {% comment %} <a href="/blog/category/{{post.category}}" role="button" class="btn btn-primary btn-sm rounded-pill">{{post.category}}</a> {% endcomment %}
        
        <a href="/blog/category/{{post.category}}"> <span class="badge rounded-pill bg-secondary">{{post.category}}</span> </a>
         

          
       <form method="POST" class="ms-auto" action="/blog/{{post.slug}}/wishlist">
          {% csrf_token %}
          <input type="hidden" name="slug" value="{{post.slug}}">
         
          {% if user.is_authenticated %}
          <button type="submit"
            class="btn btn-outline-light rounded-circle btn-sm  p-0">
            {% if request.user in post.wishlist.all %} 
             <img src="/static/img/redheart.png" width="25" alt=""></button>
             {% else %}
             <img src="/static/img/whiteheart.png" width="25" alt=""></button>
              {% endif %}
             {% else %} 
          <button type="button"
            class="btn btn-outline-light rounded-circle  btn-sm  p-0" data-bs-toggle="modal" data-bs-target="#loginModal"><img
              src="/static/img/arrowdown.svg" width="25" alt=""></button>
              
            {% endif %}  
        </form>
        
       
        </div>
      {% comment %} <div>
        <a href="/blog/{{post.slug}}" role="button" class="btn btn-primary">Know more</a>
      </div>  {% endcomment %}

      
      
    </div>
    
    <div class="col-auto d-none d-lg-block">
    
      {% video post.video 'tiny' %}
    </div>
    
  </div>
  {% endfor %}
</div>
{% endblock body %}